@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rubik+Mono+One');

.colors{
  color: #84B296;
  color: #ECCF8D;
  color: #BB8138;
  color: #AC2005;
  color: #2C1507;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  color: #2C1507;
  background: #ECCF8D;
  font-size: 20px;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3rem;
  letter-spacing: 3px;
  text-shadow: 2px 2px 0 #AC2005, -2px -2px 0 #84B296;
  margin-bottom: 0;
}

canvas {
  
}

.subtitle {
  padding: 0;
  margin:0;
  margin-bottom: 50px;
}

.subtitle:hover{
  cursor: default;
}
span {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1:hover {
  cursor: default;
}
h1 span:hover {
  background: #2C1507;
  color: white; 
}

#saveLink {
  text-decoration: none;
  margin-left: 10px;
}

#saveLink:hover{
  background: #84B296;
  color: #2C1507;
}

input[type="number"] {
  width: 50px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #84B296;
  font-size: 0.8rem;
  text-align: center;
  margin-right: 20px;  
}

input[type="file"] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="checkbox"]{
  background: #2C1507;
}

.file-chooser:focus + label,
.file-chooser + label:hover {
  cursor: pointer;
  transition: all 40ms ease-out;  
  background: #AC2005;
}
svg {
  width: .8rem;
  height: auto;
  margin-left: .5rem;  
}

#upload-svg .a {
  fill: #ECCF8D; 
}
#saveLink:hover > #download-svg path {
  fill: #2C1507;
}
.file-chooser + label:hover > #upload-svg .a{
  fill: #2C1507;
}

.disabled {
  display: none;
}

.menu-container{
  width: 80%;
  margin-bottom: 12px;
  font-size: .8rem;
}
.config-menu {
  border: 3px dotted #BB8138;
  border-radius: 10px;
  display: flex;  
  justify-content: flex-start;
}

.config-menu legend{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
}

.config-menu__area1 {
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.config_menu__area2 {
  padding-left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.config-menu label {
  font-weight: bold;
  margin-right: 10px;
  /* text-transform: uppercase; */
  font-size: 0.7rem;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.menu-button{
  font-size: .8rem;
  background: #2C1507;;
  color: #ECCF8D;
  padding: 5px 20px 5px 20px;
  margin: 2px;
  border-radius: 2px;
}

.file-menu{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 30px;
}