@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rubik+Mono+One');

.colors{
  color: #84B296;
  color: #ECCF8D;
  color: #BB8138;
  color: #AC2005;
  color: #2C1507;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  color: #2C1507;
  background: #ECCF8D;
  font-size: 20px;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3rem;
  letter-spacing: 3px;
  text-shadow: 2px 2px 0 #AC2005, -2px -2px 0 #84B296;
}
span {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 span:hover {
  background: #2C1507;
  /* text-shadow: none;  */
  color: white; 
}
canvas{
  /* width: 800px;
  height: 600px; */
  border: 1px solid gray;
}

#saveLink {
  text-decoration: none;
  margin-left: 10px;
}

input[type="number"] {
  border-radius: 10px;
  
}

input[type="file"] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="checkbox"]{
  background: #2C1507;
}

/* .file-chooser + label {
  
} */

.file-chooser:focus + label,
.file-chooser + label:hover {
  cursor: pointer;
  transition: all 40ms ease-out;  
  background: #AC2005;
}
svg {
  width: .8rem;
  height: auto;
  margin-left: .5rem;  
}

svg .a {
  fill: #ECCF8D; 
}

.file-chooser + label:hover > svg .a{
  transition: all 400ms ease-out;
  fill: white;
}

.disabled {
  display: none;
}

.menu-container{
  width: 80%;
  margin-bottom: 12px;
  font-size: .8rem;
  /* border: 1px solid slategray;
  border-radius: 2px; */
  /* overflow: hidden; */
}
.config-menu {
  border: 3px dotted #BB8138;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;  
}
.config-menu  * {
  margin-bottom: 8px;
}

.config-menu label {
  font-weight: bold;
  margin-right: 10px;
}

.config-menu input[type="number"] {
  border: none;
  background: #84B296;
  font-size: .8rem;
  text-align: center;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 30px;
}

.menu-button{
  font-size: .8rem;
  background: #2C1507;;
  color: #ECCF8D;
  padding: 5px 20px 5px 20px;
  margin: 2px;
  border-radius: 2px;
}

.file-menu{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 50px;
  /* background: slategray;
  padding: 5px; */
}

.config-menu {
  font-family: 'Arial', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
